* {
  margin: 0;
  padding: 0;
  box-sizing:content-box;
 font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  scroll-behavior: smooth;
  
}
[hidden] {
  display: none;
}

.logodiv {
  margin: 10px 10px;
  
  h1 {
    font-size: 33px;
    font-weight: 800;
  }
}
.navele {
  margin-left: 39px;
}


/* #Preparation {
  overflow-y: hidden;
  scrollbar-width: 12px;
} */

.buttonsele1 {
  background: #ebebeb;
  color: black;
  border-radius: 12px;

  padding: 9px 19px;
}
.buttonsele2 {
  background: #b65f54;
  color: white;
  border-radius: 12px;

  padding: 9px 19px;
}
.navmenu {
  margin-right: 29vh;
}
.homediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 50px; */
  padding: 2rem;
}
.homeleft {
  /* margin-top: 23px; */
  width: 50%;
  animation: hello 2s;
}
.leftsidebutton {
  text-decoration: none;
  color: #b65f54;
}
.leftsidebutton1 {
  background-color: #b65f54;
  padding: 4px 30px;
  border-radius: 12px;
  color: white;
  border: 1px none;
}
.home1 h1 {
  
  font-size: px;
  font-weight: 800;
 
  margin-top: 34px;
}

.homeright {
  width: 50%;
 
  
  animation: hello 2s;
}
.homeright img {
  margin-left: 2vh;
}
.navifudi {
  animation: hello2 2s;
}
/* @keyframes hello {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hello2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
} */

.aboutdiv1 {
  display: flex;
  justify-content: space-between;
  padding: 10vh 3vh;
  /* margin-bottom: 19px; */
}
.aboutleft {
  margin-left: 24px;
}
.me-2 {
  width: 80vh;
}

.popdiv {
 background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-radius: 23px;
  position: absolute;
  /* left: 7vh; */
  padding: 2rem;
  top: 10vh;
  height: fit-content;
  width: 100%;
  z-index: 3;
  visibility: hidden;
}
.popdiv2 {
  h1 {
    font-weight: 800;
  }
}
#overlay {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  backdrop-filter: blur(6px);
}
.ingredientlist {
  font-size: 20px;
  font-weight: 700;
  background-color: #4ebf0d !important;
  overflow-y: auto;
  max-height: 300px;
  margin-top: 23px;
}
.preparationdiv {
  font-size: 20px;
  font-weight: 700;
  overflow-y: auto;
  max-height: 300px;
  margin-top: 23px;
  gap: 1;
}
.fa-solid{
    font-weight: 900;
    font-size: 28px;
    
}


.feedback1 {
  margin-left: 27px;
  margin-top: 23px;
  animation: hello 2s;
}
.feedback2 {
 margin-left: -1px;
    animation: hello2 2s;
    width: 100%;
    
    padding: 8px 71px;
  
}

.navibar {
  position: fixed;
}
#footer {
  margin-top: 23px;
  background-color: #d42525;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.footerparenetdiv {
  /* background-color: palegreen; */
}
.foot1 {
  width: 25%;
  background-color: burlywood;
  h1 {
    color: black;
    margin-left: 18px;
    font-weight: 700;
  }
  p {
    margin-top: 23px;
    margin-left: 18px;
  }
}
.foot2 {
  width: 25%;
  h1 {
    font-size: 21px;
    margin-left: 26px;
  }
  ul {
    list-style: none;
    margin-left: 29px;
  }
  a {
    text-decoration: none;
  }
  li {
    color: black;
    margin-top: 20px;
  }
}
.foot3 {
  width: 25%;
  h1 {
    font-size: 21px;
    margin-left: 26px;
  }
  ul {
    list-style: none;
    margin-left: -8px;
  }
  a {
    text-decoration: none;
  }
  li {
    color: black;
    margin-top: 20px;
  }
}
.foot4 {
  background-color: #4ebf0d;
  width: 25%;
}
.tailleft {
  h2 {
    font-size: 17px;
  }
}
.tailright i {
  margin-right: 30px;
  cursor: pointer;
}

.tab {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  .bt1 {
    padding: 12px 12px;
    width: 50%;
    height: 50%;
  }
  .bt1:hover,
  .bt2:hover {
    background-color: black;
    color: white;
    transition: 0.6s ease;
  }
  .bt2 {
    padding: 12px 12px;
    width: 50%;
  }
}
.tabcontent {
  display: none;
}
.recipebutton{
  background-color: #4ebf0d;
}
.fa-solid, .fas {
    font-weight: 900;
    font-size: 34px;
    /* color: blue; */
}
/* mobile small */
@media (max-width:320px) 
{
  .homeright .imgright{
    opacity: 0;
  }
  .homediv{
   
    width: 99%;
    height: 76vh;
    margin-left: 2px 
    
  }
  
  .home1{
   
    width: 63vh;
  }

  .aboutdiv1{
    
    .aboutleft{
      
      margin-left: 0px;
      width: 32vh;
    }
    h1{
      font-size: 20px;
      margin-top:11px;
    }
  }
  
}
/* @media (max-width:424px) {
 .homeright .imgright{
    display: none;

  }
   .homediv{
   
    width: 97%;
    height: 48vh;
    margin-left: 2px;
    
    margin-top: 11px;
    .homeleft{
      
      width: 100%;
    }
    .homeright{
      
      width: 0px;

    }
    
  }
   .home1{
   
    width: 57vh;
    
    h1{
      
      width: 44vh;
    }
  }
  .aboutdiv1{
    
    .aboutleft{
      
      margin-left: 0px;
      width: 32vh;
    }
    h1{
      font-size: 20px;
      margin-top:11px;
    }
  }
} */

@media (max-width:425px) {
  .imgright{
    background-color: palegreen;
  }
}